table {
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    font-size: small;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    border-top: 1px solid #444444;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
  }
  th {
    background-color: #ffe6ea;
    text-align: center;
  }
  td {
    background-color: #ffffff;
    text-align: center;
    
  }
  .tdValue{
   text-align: center;
   
  }
  .tdKey {
    padding-left: 15px;
  }
  td:hover {
    background-color: #fcffe6;
  }
  .all {
    font-weight: bold;
    text-align: center;
}
html {
    height: 100%;
  }
  
  body {
    background-color: #70c6ff4d;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .file-upload {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #a970ff4d 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 2s;
    color: #ffffff;
    font-size: 70px;
  }
  .wrapper .file-upload input[type=file] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #a970ff4d;
  }
  .wrapper2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .wrapper3 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .button {
    transition-duration: 1s;
    color: #a970ff9d;
    padding: 32px 16px;
    border-radius: 10px;
    font-size: 24px;
    border: 4px solid #a970ff9d;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;
    border-width: 2px;
    margin-bottom: 3%;
  }
  
  .button:hover {
    background-color: #a970ff9d;
    color: #ffffff;
  }
  i {
    font-style:normal;
    
}

h3 {
    color: white;
    border: #a970ff9d;
    padding-left: 50px;
    padding-top: 30px;
    font-size: xx-large;
}
#price {
  background-color: #ffffff;
  color: #a970ff9d;
  border: 2px solid #a970ff9d;
  font-size: 30px;
  width: 160px;
  FONT-WEIGHT: 500;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
#nametext {
  background-color: #ffffff;
  color: #a970ff9d;
  border: 2px solid #a970ff9d;
  font-size: 30px;
  width: 395px;
  FONT-WEIGHT: 500;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
#daydate {
  background-color: #ffffff;
  color: #a970ff9d;
  border: 2px solid #a970ff9d;
  font-size: 25px;
  width: 330px;
  FONT-WEIGHT: 400;
  padding: 10px;
  padding-left: 21px;
  border-radius: 10px;
  margin-bottom: 2%;
}
.wrapper4{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
#nametext:focus-visible {
  outline:0cm
}
/* IE9 이하를 위한 css */
.placeholder {
  color:  #a970ff9d;
}
/* IE10 이상을 위한 css */
input::placeholder {
  color: #a970ff9d;
  opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
}
input::-webkit-input-placeholder {
  color: #a970ff9d;
}
/* IE */
input:-ms-input-placeholder {
  color: #a970ff9d;
}
/* Firefox */
input:-mos-input-placeholder {
  color: #a970ff9d;
}


.navpd {
  padding-top: 2%;
  padding-left: 3%;
  font-size: xx-large;
  color: white;
  border: #a970ff9d;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-brand {
  font-size: 2.25rem;
}

.navbar-nav .nav-link {
  padding-left: 4%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-nav{
  padding-top: 3%;
}

.navbar-light .navbar-brand:hover {
  color: rgb(85 94 101 / 58%);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(85 94 101 / 58%);
}
.nav-link {
  font-size: 1.2rem;
}
.navbar-light .navbar-toggler:focus-visible {
  outline:0cm
}
.navbar-light .navbar-toggler {
  color: #ffffff;
}

.h2text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a970ff9d;
  font-size: 20px;
}
.btn1{
  transition-duration: 1s;
  color: #a970ff9d;
  padding: 14px 16px;
  border-radius: 10px;
  font-size: 25px;
  border: 3px solid #a970ff9d;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.btn1:hover {
  background-color: #a970ff9d;
  color: #ffffff;
}

.hidden {
  display: none;
}

#checktext{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3%;
  color: #a970ff9d;
}
#checktext1{
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
#checkboxbox{
  width: 60px;
  height: 20px;
  margin-bottom: 3%;
}

.checkbox{
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 3% 35% 0 35%;
  border-radius: 10px;
  border: 3px solid #a970ff9d;
  border-width: 2px;
}

#price:focus-visible {
  outline:0cm
}

.numberboxdiv{
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 3% 35% 0 35%;
  border-radius: 10px;
  border: 3px solid #a970ff9d;
  border-width: 2px;
}

#numberboxtext{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3%;
  color: #a970ff9d;
}
#numberbox{
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
#number{
  width: 50px;
  height: 30px;
  margin: 3%;
}

.table1 {
  margin-top: 2%;
  margin-bottom: 5%;

}
.table2{
  margin-top: 2%;
  margin-bottom: 5%;
}

.text3 .text4{
  margin-top: 2%;
  margin-bottom: 5%;

}

.bottom{
  height: 1%;
}
#firstbtn{
  width: 165px;
  height: 104px;
}
.howcheck{
  align-items: center;
  justify-content: center;
  width: 50px;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.dropdown-menu{
  background-color: #70c6ff00;
  border: 0;
  font-weight: 800;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #c6c6ff;
  border-radius: 20px;
  font-weight: 800;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}
.dropdown-item{
  color: #fff;
  font-weight: 800;
}